<div class="banner">
  <p>This site is under development and not yet intended for public use</p>
</div>

<style>
  .banner {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 0.5rem;
  }
  p {
    margin: 0;
  }
</style>
